h5{
  border: none;
}

.textarea{
  width: -webkit-fill-available;
  margin-top: 10px;
}

.kome{
  color: red;
}

.label{
  background-color: palegreen;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 0px 10px 10px;
}