.group{
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
}

.icon{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.button{
  position: absolute;
  right: 0;
}
