.group{
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
}

.icon{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 5px;
}

.button{
  position: absolute;
  right: 0;
}

.toggle{
  display: none;
}

// スマホ表示
@media(max-width: 767px){
  .button{
    display: none;
  }

  .img{
    height: 60px;
    padding: 5px;
  }

  .toggle{
    display: block;
    position: absolute;
    right: 0;
  }
}
