.main{
  background-color: antiquewhite;
}
.contents{
  display: flex;
}
.content{
  // display: flex;
  display: contents;
}
.img {
  /* Your existing styles for .img container */

  // background-color: paleturquoise;
  .image {
    max-width: 100%; /* Scale image width within the container */
    max-height: 100%; /* Scale image height within the container */
    width: auto; /* Let the width adjust automatically while maintaining aspect ratio */
    height: auto; /* Let the height adjust automatically while maintaining aspect ratio */
    display: block; /* Make sure the image behaves as a block element */
    margin: 0 auto; /* Center the image horizontally */
  }
}
@media (max-width: 767px) {
  .contents{
    display: block;
  }
}
