.main{
  background-color: antiquewhite;
}
.contents{
  display: flex;
}
.content{
  // display: flex;
  display: contents;
}
.img {
  /* Your existing styles for .img container */

  // background-color: paleturquoise;
  .image {
    max-width: 100%; /* Scale image width within the container */
    max-height: 100%; /* Scale image height within the container */
    width: auto; /* Let the width adjust automatically while maintaining aspect ratio */
    height: auto; /* Let the height adjust automatically while maintaining aspect ratio */
    display: block; /* Make sure the image behaves as a block element */
    margin: 0 auto; /* Center the image horizontally */
  }
}
@media (max-width: 767px) {
  .contents{
    display: block;
  }
}

/* これらのスタイルをSCSSファイルに追加します */
.imageContainer {
  position: relative;
  width: 100%;
}

.imageHover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.imageNormal {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.imageContainer:hover .imageHover {
  opacity: 1;
}

.imageContainer:hover .imageNormal {
  opacity: 0;
}

