.body{
    height: 100vh;
    display:flex;
    flex-direction: column;
}

.header{
    background-color: white;
    display:flex;
    flex-direction: column;
    height:100px;
}
.content{
    background-color: beige;
    display:flex;
    flex-direction: column;
    flex:1;
}
.footer{
    background-color: green;
    display:flex;
    flex-direction: column;
    height:100px;

}